

.stack-container{
    margin-top: 1%;
    margin-bottom: 5px;
    height: 100%;
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    flex-grow: 1;
}


.stack-entry{
    text-align: center;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
}

.stack-entry:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.12);
}

.stack-address{
    text-align: left;
    width:  40%;
    color: var(--stack-address-color);
}

.stack-value{
    text-align: left;
    width: 40%;
    color: var(--stack-value-color);
}

.LV{
    width: 20%;
    color: var(--text-color);
}

.SP{
    width: 20%;
    color: var(--text-color);
}

.hidden{
    opacity: 0;
}


.presentationMode{
    font-size: 26px;
    margin-bottom: 3%;
}
