<mat-toolbar>
    <!-- Import/Export Buttons-->
    <button mat-button (click)="openImportDialog()" style="font-size: x-small;"><mat-icon>file_open</mat-icon>Import</button>
    <button mat-button (click)="openExportDialog()" style="font-size: x-small;"><mat-icon>upload_file</mat-icon>Export</button>

    

    <span class="spacer"></span>



    <a mat-button target="_blank" href="https://github.com/vs-ude/mic-1-toolbox/discussions/120">Forum</a>
    <button class="btn" mat-button (click)="openGettingStartedDialog()">Getting Started</button>
    <button class="btn" mat-button (click)="openAboutDialog()">About</button>

    <span class="version">v{{ currentApplicationVersion }}</span>


    <!-- Settings Menu -->
    <span class="verticalLine"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Settings Dialog">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div style="margin-bottom: 2%;">
        <mat-slide-toggle [(ngModel)]="this.lightMode" (change)="toggleTheme($event)" [ngStyle]="lightMode && {'color':'#f0f0f0'}">
          Light Mode
        </mat-slide-toggle>
      </div>
      <div style="margin-bottom: 2%;">
        <mat-slide-toggle (change)="switchEditors($event)" [ngStyle]="lightMode && {'color':'#f0f0f0'}">
          Switch Editors
        </mat-slide-toggle>
      </div>
      <div style="margin-bottom: 2%;">
        <mat-slide-toggle (change)="togglePresentationMode($event)" [ngStyle]="lightMode && {'color':'#f0f0f0'}">
          Presentation Mode
        </mat-slide-toggle>
      </div>
      <div style="margin-bottom: 2%;">
        <mat-slide-toggle (change)="toggleTutorMode($event)" [ngStyle]="lightMode && {'color':'#f0f0f0'}">
          Tutor Mode
        </mat-slide-toggle>
      </div>

    </mat-menu>

</mat-toolbar>